
.FormControl {
  margin-bottom: 10px;

}

input[type=textarea] {
  width: 50%;

}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.Hero-title {
  margin-top: -1px;
  text-align: center;
  color: #667c99;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.astroboy {
font-size: inherit;
border: 0;
background: #e7edf3;
color: #667d99;
border-radius: 4px;
padding: 8px 15px;
border-top: 2px dotted #fff;
border-bottom: 2px dotted #fff;
margin: 1em 0;
}
