
.FormControl {
  margin-bottom: 10px;
}


input[type=textarea] {
  width: 50%;

}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.Hero-title {
  margin-top: 0px;
  text-align: center;
  color: #667c99;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.astroboy {
font-size: inherit;
border: 0;
background: #fff;
color: #667d99;
border-radius: 4px;
padding: 8px 15px;
border-top: 2px dotted #fff;
border-bottom: 2px dotted #fff;
margin: 1em 0;
}

.titolo1
{ font-family: 'Enriqueta', arial, serif; line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  background-color: #667c99;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.titolo1:before {
  content:url(https://i.ibb.co/WPk7LYn/email-PNG22.png);
  vertical-align: -16%;

}

.buttonHolder{ text-align: center; }

.notloggedin {
  font-family: 'Enriqueta', arial, serif; line-height: 1.25;
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #ff2a2a;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

.banner-message {
  margin: 0px auto;
  display: table;
  width: 700px;
  text-align: justify;
  margin-bottom: 20px;
  color: #667d99;
}
@media only screen and (max-width: 700px) {
  .banner-message {
    margin: 0px auto;
    display: table;
    width: 430px;
    text-align: justify;
    margin-bottom: 40px;
    color: #667d99;
  }
}
.fieldscontact {
    display: block;
    margin: 10px;
  margin-right: auto;
  margin-left: auto;
    width: 300px;
    height: 36px;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.5;
    color: #667c99;
    background-color: #e8ecf3;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-transition: border-color .15s, background .15s;
    -o-transition: border-color .15s, background .15s;
    transition: border-color .15s, background .15s;
    -webkit-appearance: none;
}

textarea.message1 {
  display: block;
  height: auto;
  width: 450px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 200px;
  padding: 8px 13px;
  font-size: 13px;
  line-height: 1.5;
  color: #667c99;
  background-color: #e8ecf3;
  border: 2px solid transparent;
  border-radius: 4px;
  -webkit-transition: border-color .15s, background .15s;
  -o-transition: border-color .15s, background .15s;
  transition: border-color .15s, background .15s;
  -webkit-appearance: none;
}
.buttonsend {
  display: block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  line-height: 20px;
  padding: 8px 13px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  margin-left: auto;
  margin-right: auto;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background: #4d698e;
  font-weight: bold;
  border: 0;
}

.img-container {
  text-align: center;
  margin-top: 40px;
}
